:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --tertiary-text-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background: #2f303a;
  --icon-color: #afb1b8;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* logo */

.navi {
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid #ececec;
  width: 100%; */
}

.logo-primary {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-primary > .logo-web {
  color: var(--accent-color);
}

.logo-primary > .logo-studio {
  color: var(--primary-text-color);
}

/* site nav */
.site-nav {
  display: flex;
  margin-left: 85px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
}

.site-nav .item {
  position: relative;
}

.link.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* contacts */
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 30px;
}

.contacts .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.link .icon-envelope,
.link .icon-smartphone {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

/* section */
.section-title {
  margin-bottom: 50px;
}

.section .section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17x;
  text-align: center;
}

/* section hero */

.section.overlay {
  height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  /* rgba(47, 48, 58, 0.8) */
  background-color: rgba(47, 48, 58, 0.8);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section-hero {
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid #2196f3;
  min-width: 200px;

  color: var(--secondary-background-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.container.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.button:hover,
.button:focus {
  background-color: #188ce8;
  font-family: inherit;
}

/* features */

.features.list {
  display: flex;
}

.features .item {
  width: 270px;
}

.features .wrap {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
}

.features .item + .item {
  margin-left: 30px;
}

.container.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.features .text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
}

/* Work list */

.work-list {
  display: flex;
}

.work-list .item {
  position: relative;
}

.work-list .item + .item {
  margin-left: 30px;
}

.work-list .title {
  position: absolute;
  bottom: 0;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;

  color: var(--tertiary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}
.container.work {
  padding-bottom: 94px;
}

/* Crew */

.container.crew {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-crew.section {
  background-color: var(--secondary-background-color);
}

.crew .title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  padding-top: 30px;
  margin-bottom: 10px;
}

.crew.list {
  display: flex;
}

.crew .box-item {
  width: 270px;
  background-color: var(--background-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.crew .box-item + .box-item {
  margin-left: 30px;
}

.crew .text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.socials .link {
  display: flex;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  fill: var(--icon-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials .link:hover,
.socials .link:focus {
  background-color: var(--accent-color);
  fill: var(--background-color);
}

.socials > .item + .item {
  margin-left: 10px;
}

.socials.list {
  display: flex;
  padding: 16px 32px 24px;
}

/* clients */

.clients.list {
  display: flex;
}

.clients .link {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
}

.clients .link:hover,
.clients .link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.clients .item + .item {
  margin-left: 30px;
}

.container.clients {
  margin-top: 94px;
  padding-bottom: 94px;
}

/* container portfolio */

.container.main {
  padding-bottom: 94px;
  padding-top: 93px;
}

/* filter */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.filter {
  display: flex;
  margin-bottom: 50px;
}

.filter .item + .item {
  margin-left: 8px;
}

.filter.list {
  justify-content: center;
}
.filter .button-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 6px 22px;
  border-radius: 4px;
  outline: 0;

  cursor: pointer;
  border-color: transparent;
  color: var(--primary-text-color);
  font-family: inherit;
}

.filter .button-item:hover,
.filter .button-item:focus {
  color: var(--tertiary-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* portfolio */

.portfolio a,
img {
  display: block;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio .subject {
  margin-bottom: 4px;

  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.06em;
}

.portfolio .text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.card-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio .description {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;
  color: var(--tertiary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.6;
}

.card-link:hover .description {
  transform: translateY(0%);
}

.card-content {
  border: 1px solid #eeeeee;
  border-top-color: transparent;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.portfolio > .item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio > .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio > .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* Footer */

.footer {
  background-color: var(--footer-background);
}

.container.basement {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.communication {
  margin-right: 69px;
}

/* logo */

.logo-secondary {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-secondary > .logo-web {
  color: var(--accent-color);
}

.logo-secondary > .logo-studio {
  color: var(--background-color);
}
/* adress */
.adress {
  margin-top: 20px;
  margin-bottom: 9px;

  color: var(--background-color);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}

.adress-contacts .mail,
.adress-contacts .phone {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}

.adress-contacts .item {
  margin-bottom: 9px;
}
/* socials */

.join-in .content {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.social.list {
  display: flex;
}

.social .link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;

  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--background-color);
}

.social .link:hover,
.social .link:focus {
  background-color: var(--accent-color);
}

.social .item + .item {
  margin-left: 10px;
}

/* subsribe  */

.subscribe {
  margin-left: auto;
}

.subscribe .content {
  display: block;
  margin-bottom: 20px;

  color: var(--background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.subscribe .mail {
  width: 358px;
  height: 50px;
  background-color: var(--footer-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-footer {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-flex;
  border-radius: 4px;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
  align-items: center;
  cursor: pointer;
  outline: 0;

  border-color: transparent;
  color: var(--secondary-background-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.button-footer:hover,
.button-footer:focus {
  background-color: #188ce8;
  font-family: inherit;
}

.icon-plane {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
